@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* colors */
:root {
  --text-blue: hsl(238, 29%, 16%);
  --text-red: hsl(14, 88%, 65%);
  --bg-violet: hsl(273, 75%, 66%);
  --bg-blue: hsl(
    240,
    73%,
    65%
  ); /*not used --  add to background body gradient */
  --prim-gray: hsl(
    237,
    12%,
    33%
  ); /*not used -- add to questions and answers text*/
  --sec-gray: hsl(
    240,
    6%,
    50%
  ); /*not used -- add to questions and answers text*/
  --light-gray: hsl(240, 5%, 91%);

  --white: #fff;
}

/* remove margins and apply box sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", Helvetica, sans-serif;
  /* background-color: var(--bg-violet); */
  background-image: linear-gradient(var(--bg-violet), var(--bg-blue));
  font-size: 18px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 12px;
  color: var(--text-blue);
}

.card {
  background-color: var(--white);
  height: 507px;
  width: 920px;
  border-radius: 16px;
  margin: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.card-images {
  flex: 1;
  position: relative;
}

.bg1 {
  position: absolute;
  background: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  /* height: 180%;
  height: 768px;
  width: 80%;
  margin-right: 80px;
  margin-top: -60%; */
  /* margin-left: -10px; */
  height: 200%;
  width: 80%;
  margin-right: 80px;
  margin-top: -70%;
}

.bg2 {
  position: absolute;
  background: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  height: 100%;
  width: 95%;
  margin-top: 25px;
  margin-left: -75px;
}

.card-accordion {
  flex: 1;
}

.qnas {
  margin-right: 90px;
  font-weight: 400;
  overflow: auto;
  height: 507px;
}

.card-accordion h1 {
  font-size: 2rem;
  padding-top: 5.5rem;
  padding-bottom: 1rem;
}

.question {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1.25rem 1.25rem 1.25rem 0;
  border-bottom: 1px solid var(--light-gray);
}

.icon-wrapper {
  margin: auto 0;
  transition: all 0.3s ease-in-out;
}

.question img {
  width: 10px;
  height: auto;
}

.rotate-icon {
  transform: rotate(180deg);
}

.question:hover {
  color: var(--text-red);
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.hide {
  display: none;
}

.answer {
  font-size: 0.7rem;
  padding: 0.5rem 2rem 0.2rem 0;
  line-height: 1.25rem;
}
